# Wrangling Superstore Data

In [1]:
import numpy as np
import pandas as pd

## Assessing Superstore Data

In [2]:
# loading and previewing data

# the file should be loaded with "encoding='windows-1252" else you will 
# encounter "UnicodeDecodeError"

store_data = pd.read_csv('Sample - Superstore.csv',encoding='windows-1252')
store_data.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [3]:
# checking store information
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
# checking null values 
store_data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [5]:
# Most time, empty value are represented with "None"
# using "apply" to search for "None" in all dataframe columns

substring = 'none'
store_data[store_data.apply(lambda row: row.astype(str).str.contains(substring, case=False).any(),
                   axis=1)]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [6]:
# checking for duplicates
store_data[store_data.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [7]:
# checking summary of numerical columns
store_data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

### Issues
* column names not fit for programming
* erroneous data types (order date,ship date, ship mode, segment, postal_code, region, category,sub category)

## Cleaning  Superstore Data

### Making copy of original data

In [8]:
store_clean = store_data.copy()

### Issue 1: Column name not fit for programming

#### Define: Change all column names to lower case and replace all empty space with an underscore.

#### Code

In [9]:
store_clean.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace =True)
store_clean.rename(columns={'sub-category': 'sub_category'}, inplace=True)
store_clean.set_index('row_id',inplace=True)

#### Test

In [10]:
store_clean.head(2)

,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
row_id,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

### Issue 2: Erroneous data type (order date,ship date, ship mode, segment, postal_code, region, category,sub category)

#### Define: Change the above columns to their respective data type

#### Code

In [11]:
date_col = ['order_date', 'ship_date']
store_clean[date_col] = store_clean[date_col].apply(pd.to_datetime)

ship_order = ['Same Day', 'First Class', 'Second Class', 'Standard Class']
store_clean['ship_mode'] = pd.Categorical(store_clean['ship_mode'], 
                                                           ordered = True, categories = ship_order)

cat_col = ['segment', 'region', 'category', 'sub_category']
store_clean[cat_col] = store_clean[cat_col].astype('category')

store_clean['postal_code'] = store_clean['postal_code'].astype(str)

#### Test

In [12]:
store_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       9994 non-null   object
 1   order_date     9994 non-null   datetime64[ns]
 2   ship_date      9994 non-null   datetime64[ns]
 3   ship_mode      9994 non-null   category
 4   customer_id    9994 non-null   object
 5   customer_name  9994 non-null   object
 6   segment        9994 non-null   category
 7   country        9994 non-null   object
 8   city           9994 non-null   object
 9   state          9994 non-null   object
 10  postal_code    9994 non-null   object
 11  region         9994 non-null   category
 12  product_id     9994 non-null   object
 13  category       9994 non-null   category
 14  sub_category   9994 non-null   category
 15  product_name   9994 non-null   object
 16  sales          9994 non-null   float64
 17  quantity       9994 non-null   int64
 18  discount       9994 non-null   float64
 19  profit         9994 non-null   float64
dtypes: category(5), datetime64[ns](2), float64(3), int64(1), object(9)
memory usage: 1.3+ MB

In [13]:
store_clean.ship_mode.unique()

['Second Class', 'Standard Class', 'First Class', 'Same Day']
Categories (4, object): ['Same Day' < 'First Class' < 'Second Class' < 'Standard Class']

In [14]:
store_clean.to_csv('superstore_cleaned.csv', index=True)